<html>
    <head>
        <title>Registro</title>
    </head>
   <body>
       Bienvenido! Por favor, registrese
    <form action = "/create" method = "POST">
        <div>
            <label for="nombre">Nombre: </label>
            <input type="text" name = "nombre" required> 
        </div>
        <div>
            <label for="apellido">Apellido: </label>
            <input type="text" name = "apellido" required> 
        </div>
        <div>
            <label for="usuario">Usuario: </label>
            <input type="text" name = "usuario" required> 
        </div>
        <div>
            <label for = "contraseña">Contraseña: </label>
            <input type = "password" name= "contraseña"required>

        </div>
        <div>
            <label for = "direccion">Direccion: </label>
            <input type = "text" name= "direccion"required>

        </div>
        <div>
            <label for = "telefono">Telefono: </label>
            <input type = "tel" name= "telefono"required>

        </div>

        <div>
            <label for = "submit">submit</label>
            <input type = "submit" id="submit"name= "submit">
        </form>
        <br/>
        </div>
   </body> 
</html>