<html>
    <head>
        <title>Datos</title>
    </head>
    <body>
        Estudiantes:                <br/>
                {% for da in data_alumnos%}
                {{da}}                   <br/>
                {%endfor%}
                <br/>
        Profesores:                <br/>
                <br/>
                {% for da in data_profesores%}
                {{da}}                 <br/>
                {%endfor%}
                <br/>
        Cursos:                <br/>
                <br/>          
                {% for da in data_cursos%}
                 {{da}}                   <br/>
                {%endfor%}
                <br/>
        Secciones:                <br/>
                <br/>            
                {% for da in data_seccion%}
                {{da}}                   <br/>
                {%endfor%}
    </body>


</html>